/* #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
} */

body{
    background-image: url('mouse.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#body-div{
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    border: 3px solid black;
}

.dark-mode {
    background-image: url('mouse-modified.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    color: white;
  }

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-bottom: 0px;
  }

.rbutton{
    width: 100%;
    height: 100px;
    position:relative;
    display:block;
    border:none;
    outline:none;
    letter-spacing:.2em;
    font-weight:700;
    background:#dfdfdf;
    cursor:pointer;
    overflow:hidden;
    user-select:none;
    border-radius:10px
}
    
.rbutton:nth-child(3){
    color:#fff;
    background:#00bad2
}
    
.rbutton:nth-child(4){
    color:#fff;background:#ff8a80
}
    
.ripple{position:absolute;
    background:rgba(0,0,0,.15);
    border-radius:100%;
    transform:scale(0);
    pointer-events:none
}

.ripple.show{
    animation:ripple .75s ease-out
}

@keyframes ripple{to{transform:scale(2);opacity:0}}
    
.relatedgames:hover{
    transform:scale(1.02)
}